.catalogue-container{
    display: flex;
    background: #e6e6e6;
    height: 100%;
    padding: 0 !important;
    max-width: 100% !important;
}

.movieCard-list{
    display: flex;
    flex-direction: row;
    overflow: auto;
    height: fit-content;
}

.media-img {
    width: 100px;
    height: auto;
}

.media-col-50 {
    width: 50px;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}