.MuiButtonBase-root{
    outline: none !important;
}

iconbutton{
    outline: none;
}

.preview-container{
    position: fixed !important;
    width: 18rem;
    height: min-content;
    z-index: 1300;
    left: 178px;
    top: 54px;
}

.preview-image{
    width: auto;
    height: 75px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.app-bg{
    background: #e6e6e6 !important;
}

.ml-20{
    margin-left: 20px !important;
}

.bg-red{
    background: red;
}

.bg-green{
    background: green;
}